/* Importar todos los componentes */
@import './custom_properties.css';
@import './base.css';
@import './components/sidebar.css';
@import './components/buttons.css';
@import './components/forms.css';
@import './components/table.css';
@import './components/modal.css';