.sidebar {
    box-sizing: border-box;
    height: 100vh;
    width: 250px;
    padding: 5px 1em;
    background-color: var(--base-clr);
    border-right: 1px solid var(--line-clr);
    position: sticky;
    top: 0;
    align-self: start;
    transition: var(--transition-slow);
    overflow: hidden;
    text-wrap: nowrap;
}

.sidebar.close {
    padding: 5px;
    width: 60px;
}

.sidebar ul {
    list-style: none;
}

.sidebar > ul > li:first-child {
    display: flex;
    justify-content: flex-end;
    margin-bottom: var(--spacing-lg);
}

.logo {
    font-weight: 600;
    font-size: 18px;
    color: var(--accent-clr);
}

.sidebar ul li.active a {
    color: var(--accent-clr);
    background-color: var(--hover-clr);
}

.sidebar ul li.active a svg {
    fill: var(--accent-clr);
}

.sidebar a,
.sidebar .dropdown-btn,
.sidebar .logo {
    border-radius: var(--border-radius-md);
    padding: .85em;
    text-decoration: none;
    color: var(--text-clr);
    display: flex;
    align-items: center;
    gap: 1em;
}

.dropdown-btn {
    width: 100%;
    text-align: left;
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
}

.sidebar svg {
    flex-shrink: 0;
    fill: var(--text-clr);
}

.sidebar a span,
.sidebar .dropdown-btn span {
    flex-grow: 1;
}

.sidebar a:hover,
.sidebar .dropdown-btn:hover {
    background-color: var(--hover-clr);
}

.sidebar .sub-menu {
    display: grid;
    grid-template-rows: 0fr;
    transition: var(--transition-slow);
}

.sidebar .sub-menu > div {
    overflow: hidden;
}

.sidebar .sub-menu.show {
    grid-template-rows: 1fr;
}

.dropdown-btn svg {
    transition: var(--transition-normal);
}

.rotate svg:last-child {
    rotate: 180deg;
}

.sidebar .sub-menu a {
    padding-left: 2em;
}

.toggle-btn {
    margin-left: auto;
    padding: 1em;
    border: none;
    border-radius: var(--border-radius-md);
    background: none;
    cursor: pointer;
}

.toggle-btn svg {
    transition: rotate var(--transition-fast);
}

.toggle-btn:hover {
    background-color: var(--hover-clr);
}

/* Responsive Sidebar */
@media(max-width: 800px) {
    .sidebar {
        height: 60px;
        width: 100%;
        border-right: none;
        border-top: 1px solid var(--line-clr);
        padding: 0;
        position: fixed;
        top: unset;
        bottom: 0;
    }
    
    .sidebar > ul {
        padding: 0;
        display: grid;
        grid-auto-columns: 60px;
        grid-auto-flow: column;
        align-items: center;
        overflow-x: scroll;
    }
    
    .sidebar ul li {
        height: 100%;
    }
    
    .sidebar ul a,
    .sidebar ul .dropdown-btn {
        width: 60px;
        height: 60px;
        padding: 0;
        border-radius: 0;
        justify-content: center;
    }
    
    .sidebar ul li span,
    .sidebar ul li:first-child,
    .dropdown-btn svg:last-child {
        display: none;
    }
    
    .sidebar ul li .sub-menu.show {
        position: fixed;
        bottom: 60px;
        left: 0;
        box-sizing: border-box;
        height: 60px;
        width: 100%;
        background-color: var(--hover-clr);
        border-top: 1px solid var(--line-clr);
        display: flex;
        justify-content: center;
    }
    
    .sidebar ul li .sub-menu.show > div {
        overflow-x: auto;
    }
    
    .sidebar ul li .sub-menu.show li {
        display: inline-flex;
    }
    
    .sidebar ul li .sub-menu.show a {
        box-sizing: border-box;
        padding: 1em;
        width: auto;
        justify-content: center;
    }
}